<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email</title>
  </head>
  <body>
    <h2>Welcome to Test Server App</h2>
    <p>Hello {{user.first_name}},</p>
    <p>
      Thank you for signing up on Test Server. We are glad to have you join us.
      Welcome on board!
    </p>
    <footer>
      <br /><br />
      <p>Cheers!</p>
      <p>Test Server Team</p>
    </footer>
  </body>
</html>
